#client-consent-comp {
  .top-tier-area {
    border-bottom: solid 3px indianred;
    text-align: center;
    min-height: 90px;
    // display: inline-block;
    .client-details {
      font-size: 40px;
      text-align: center;
    }
    .capture-info {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .lower-tier-area {
    // border-top: solid 3px indianred;
    text-align: -webkit-center;
    label {
      font-size: 15px;
    }
    Button {
      height: 50px;
      margin: 10px 15px;
      max-width: -webkit-fill-available;
      font-size: x-large;
      background-color: lightcoral;
      color: floralwhite;
    }
  }
}
